body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding: 1rem;
}

.quiz,
.choices {
  list-style-type: none;
  padding: 0;
}
.choices li {
  margin-bottom: 5px;
}
.choices label {
  display: flex;
  align-items: center;
}
.choices label,
input[type="radio"] {
  cursor: pointer;
}
input[type="radio"] {
  margin-right: 8px;
}
.view-results {
  padding: 1rem;
  cursor: pointer;
  font-size: inherit;
  color: white;
  background: teal;
  border-radius: 8px;
  margin-right: 5px;
}
.my-results {
  padding: 1rem;
  border: 1px solid goldenrod;
}
#quiz-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.quiz-btn {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
#leaderboard {
  margin-top: 20px;
}
.form1 {
  margin: 20px;
  padding: 0px 20px 15px 20px;
  width: 80%;
  
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btn {
  padding: 6px;
  background-color: red;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.btn1 {
  margin-top: 15px;
  padding: 6px;
  background-color: red;
  border-radius: 10px;
}
table,
td,
th {
  border: 1px solid;
  padding: 10px;
}
table {
  border-collapse: collapse;
}
